<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/ab87ecad-3421-42d1-b468-b7c1b224b7c6/resourcegroups/DistribuidoraWalter/providers/Microsoft.Web/sites/WebApi20251108112945</ResourceId>
    <ResourceGroup>DistribuidoraWalter</ResourceGroup>
    <ApiResourceId>/subscriptions/ab87ecad-3421-42d1-b468-b7c1b224b7c6/resourceGroups/DistribuidoraWalter/providers/Microsoft.ApiManagement/service/WebApiapiProyect1/apis/WebApi</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://webapi20251108112945-d5c0b7fge9c6a8fh.westus-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>78e8de50-0372-4bea-8bda-94ff0fef9538</ProjectGuid>
    <MSDeployServiceURL>webapi20251108112945-d5c0b7fge9c6a8fh.scm.westus-01.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>WebApi20251108112945</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName />
    <_SavePWD>false</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>