<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/8d1d2fbd-d8b4-4c98-900d-995c91e368ed/resourcegroups/DistribuidoraWalter/providers/Microsoft.Web/sites/WebApi20251008054007</ResourceId>
    <ResourceGroup>DistribuidoraWalter</ResourceGroup>
    <ApiResourceId>/subscriptions/8d1d2fbd-d8b4-4c98-900d-995c91e368ed/resourceGroups/DistribuidoraWalter/providers/Microsoft.ApiManagement/service/WebApiapiProyecto/apis/WebApi</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://webapi20251008054007-f5g2fbaqbzfbang0.westus3-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>78e8de50-0372-4bea-8bda-94ff0fef9538</ProjectGuid>
    <MSDeployServiceURL>webapi20251008054007-f5g2fbaqbzfbang0.scm.westus3-01.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>WebApi20251008054007</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName />
    <_SavePWD>false</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>